<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Studi Bonn Task{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block h1 %}
            <h1> Please add a title </h1>
        {% endblock %}
        
        {% block addButton %}
            <button type="submit" >
                <img src="{{ asset('images/add.svg') }}" alt="Add" style="width: 40px; height: 40px;" >
            </button>    
        {% endblock %}
        
        {% block logoutButton%}
        <button type="submit">
                <img src="{{ asset('images/logout.svg') }}" alt="Add" style="width: 40px; height: 40px;">
            </button>        
        {% endblock%}

        {% block body %}
        {% endblock %}
    </body>
</html>
