{% extends "base.html.twig"  %}
{% block title %} User {% endblock title %}
{% block stylesheets %}
{% endblock %}



{% block h1 %} Do you want to join the team  {% endblock h1 %}
  
{% block addButton %}
{% endblock %}

{% block body %}


    <a href="{{ path('joined-team', {'id': id} ) }}">
        <button id="joinTeam"> Join the Team</button>
    </a>

    <a href="{{ path('userPage') }}">
        <button id="back"> Go back </button>
    </a>

{% endblock %}
