{% extends 'base.html.twig' %}

{% block title %}Join Team{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/joinTeam.css') }}">
{% endblock %}

{# Diese Blöcke bleiben leer, da die Navigation in base.html.twig ist #}
{% block h1 %}{% endblock %}
{% block addButton %}{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="confirmation-box">
        <h2>Möchtest du diesem Team beitreten?</h2>
        
        <div class="button-group">
            <a href="{{ path('joined-team', {'id': id}) }}" class="btn btn-confirm">
                Team beitreten
            </a>

            <a href="{{ path('userPage') }}" class="btn btn-cancel">
                Zurück
            </a>
        </div>
    </div>
</div>
{% endblock %}

